<nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="main-nav nav navbar-nav navbar-right">
                <li  routerLink="jobs" class="wow fadeInDown" data-wow-delay="0s"><a href="">Jobs</a></li>
                <li  routerLink="/intern" class="wow fadeInDown" data-wow-delay="0.1s"><a href="/intern">Internships</a></li>
                <li  routerLink="/learner" class="wow fadeInDown" data-wow-delay="0.2s"><a href="/learner">Leanerships</a></li>
                <li  routerLink="/interview"  class="wow fadeInDown" data-wow-delay="0.3s"><a href="#">Interview Tips</a></li>
                <li  routerLink="/tips" class="wow fadeInDown" data-wow-delay="0.4s"><a href="#">Cv Tips/Templates</a></li>
                <li  routerLink="/search" class="wow fadeInDown" data-wow-delay="0.4s"><a href="#">Search</a></li>
                <li  routerLink="/add" class="wow fadeInDown" data-wow-delay="0.4s"><a href="add">add</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
