<div>
  <app-jumbo>
  </app-jumbo>
  <div class="content-area">
    <div class="container">
      <div class="row page-title text-center wow bounce" data-wow-delay="1s">
        <h5>Recent Jobs</h5>
        <h2><span>50</span> Jobs Listed for you</h2>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <section>
            <style>
              .demo-list-three {
                width: 650px;
              }
            </style>
            <ul *ngFor="let l of getKeys()" class="demo-list-three mdl-list">
              <li class="mdl-list__item mdl-list__item--three-line"  routerLink="./detail/{{l}}">
                <span class="mdl-list__item-primary-content">
									<i class="material-icons mdl-list__item-avatar">person</i>
									<span>{{jobs[l].title}}</span>
                <span class="mdl-list__item-text-body">
										Bryan Cranston played the role of Walter in Breaking Bad. He is also known
										for playing Hal in Malcom in the Middle.
									</span>
                </span>
                <span class="mdl-list__item-secondary-content">
									<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">add</i></a>
								</span>
              </li>
            </ul>
          </section>
        </div>
        <div class="mdl-cell mdl-cell--6-col" >
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Material</th>
                <th>Quantity</th>
                <th>Unit price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                <td>25</td>
                <td>$2.90</td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                <td>50</td>
                <td>$1.25</td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                <td>10</td>
                <td>$2.35</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <footer class="mdl-mega-footer">
      <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Features</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Details</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Specs</a></li>

          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Technology</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">How it works</a></li>

          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">FAQ</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Questions</a></li>

          </ul>
        </div>

      </div>

    </footer>
  </div>